<h2 style="color:grey; background-color:lightgray" >Movie Reviews</h2>



<table class="table table-sm table-hover" style="color: gray">
  <tr>
    <td> Customer Name </td>
    <td> Movie Name </td>
    <td> Movie Review                                                                </td>
    <td> Movie Grade </td>
    <td>Operations</td>
  <td></td>
  </tr>
  </table>
<!-- <tr *ngFor= "let x of customerService.customersList">
  <td  *ngIf="x.isAdmin=='no'"> {{x.FirstName}}  {{x.LastName}}</td>
  <td *ngIf="x.isAdmin=='no'">0{{x.Phone}}</td>
  <td>
    <a class="btn" (click)="showForEdit(x)">
      <i *ngIf="x.isAdmin=='no'" class="fa fa-pencil-square-o"> update</i>
      </a>
    <a class="btn text-danger" (click)="onDelete(x.CustomerID)">
      <i *ngIf="x.isAdmin=='no'" class="fa fa-trash-o"> delete</i>
    </a>
  </td>

</tr>


</table> -->
